astroid==1.4.5
colorama==0.3.7
crypto==1.4.1
dj-database-url==0.4.0
Django==1.9.2
django-braces==1.8.1
django-cors-headers==1.1.0
django-money==0.8
django-oauth-toolkit==0.10.0
gunicorn==19.4.5
lazy-object-proxy==1.2.2
Naked==0.1.31
oauthlib==1.0.3
psycopg2==2.6.1
py-moneyed==0.6.0
pylint==1.5.5
pytz==2016.4
PyYAML==3.11
requests==2.10.0
shellescape==3.4.1
shortuuid==0.4.3
six==1.10.0
whitenoise==2.0.6
wrapt==1.10.8
